.timer {
  position: fixed;
  bottom: 1em;
  right: 1em;
  left: 1em;
  z-index: 1;
}

.timer .notification {
  max-width: 30em;
  width: 100%;
  margin: 0 auto;
}

.timer__controls {
  margin-top: 0.3em;
}
